*{
  box-sizing: border-box;
}
.navbar{
   background-color: blueviolet;
   padding: 10px;
}
.countainer{
  max-width: 987px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
nav ul a{
  text-decoration: none;
  color: black;
  padding: 10px;
  border-radius: 8px;
}
nav ul{
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}
nav a:hover{
  background-color: aqua;
}
input{
  padding: 2px;
  color: gray;
  border: 1px solid  gray;
  border-radius: 8px;
}